body {
  margin: 0;
  padding: 0;
  background-image: url(https://img.freepik.com/free-vector/ai673aa1c20c08423489e975b1b26f929b_78370-2058.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #5a1eca;
  font-family: Arial, sans-serif;
}

.navbar-collapse {
  justify-content: center;
  text-align: center;
}

.navbar-nav {
  gap: 20px;
}

.nav-link {
  font-size: 1rem;
  padding: 8px 15px;
  transition: color 0.3s;
  font-family: 'Host Grotesk', sans-serif;
}

.nav-link:hover {
  color: #6610f2;
}

.hero-section {
  padding: 80px 0;
  text-align: left;
  margin-top: 120px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.hero-section h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.hero-section p {
  margin-top: 15px;
  font-size: 1.1rem;
}

.image-container img {
  max-width: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .hero-section {
    padding: 60px 20px;
    text-align: center;
    flex-direction: column;
  }

  .hero-section h1 {
    font-size: 2rem;
  }

  .hero-section p {
    font-size: 1rem;
  }

  .image-container {
    text-align: center;
    margin-top: 20px;
  }

  .navbar-nav {
    text-align: center;
    margin-top: 15px;
  }

  .nav-link {
    padding: 10px;
    font-size: 1.2rem;
  }
}

@media (min-width: 992px) {
  .hero-section {
    padding: 100px 0;
  }

  .hero-section h1 {
    font-size: 3rem;
  }

  .hero-section p {
    font-size: 1.2rem;
  }
}

.play-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: medium;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.play-button .play-icon {
  margin-right: 10px;
  font-size: 18px;
  transition: transform 0.3s ease-in-out;
}

.play-button:hover {
  background: linear-gradient(135deg, #8e24aa, #6a1b9a);
}

.play-button:hover .play-icon {
  transform: scale(1.2);
}

.play-button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  transform: translateY(1px);
}

.item-sub-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 10px;
  color: #ffffff;
}

.navbar-nav .nav-link {
  font-size: 1rem;
  padding: 8px 15px;
  font-family: 'Host Grotesk', sans-serif;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #6610f2;
}

.navbar-nav .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

